body {
  background-color: #0c0c12;
  color: #9a8865;
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: bender, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  overflow-y: scroll;
}

.contenido {
  display: flex;
}
.columna-izquierda,
.columna-centro,
.columna-derecha {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  min-height: 300px;
}

.contenido-columna-izquierda,
.contenido-columna-derecha {
  margin-top: 15%;
}
.contenido-columna-centro {
  margin-top: 5%;
}

.formulario-nuevo-item,
.formulario-insertar-item-user {
  margin-top: 5%;
  width: 100%; 
  margin-left: 14%;
}


label {
  display: inline-block;
  width: 150px; 
}

select {
  display: inline-block;
  width: 80px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #9a8865;
  color: white;
}

tr:hover {
  background-color: #ddd;
  color: black;
}

td a {
  color: #9a8865;
  text-decoration: none;
}

tr:hover > td a {
  color: black;
}

td a:hover {
  text-decoration: underline;
}

h4,
h3 {
  text-align: center;
}
h4 {
  margin: 0;
}
.btn-añadir {
  font-size: 12px;
  background-color: #9a8865;
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 40%;
}