body {
  background: #0c0c12;
  color: #9a8865;
  font-family: bender, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
}
.contenido {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 13%;
}

footer {
  margin-left: 6%;
}

img {
  width: 100px;
  height: 100px;
}

.lista_items {
  overflow-y: auto;
  max-height: 680px;
}

.guia {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px;
  font-weight: bold;
  opacity: 80%;
  width: 98%;
}

.guia div {
  background-color: #474747;
  text-align: center;
  padding: 12px 20px;
}

.guia > div {
  width: 25%;
  margin-right: 4px;
}

.div-opacidad:hover {
  opacity: 0.8;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: -6.6%;
}

.item .foto_item,
.item .nombre_item,
.item .nombre_usuario,
.item .precio_item {
  width: 20%;
  margin-right: 4px;
  height: 100px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.05);
}

.item:hover .foto_item,
.item:hover .nombre_item,
.item:hover .nombre_usuario,
.item:hover .precio_item {
  background-color: hsla(0, 0%, 100%, 0.08);
}

.precio-intercambio {
  display: flex;
  align-items: center;
  word-spacing: 8px;
}
.precio-intercambio img {
  margin-left: 5px;
  height: 100px;
}

.comprar_item{
  margin-right: 7%;
}

.quitar_venta_item{
  margin-right: 4%;
}

.btn-eliminar-venta {
  font-size: 12px;
  background-color: #d44330;
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}