body {
  background: #0c0c12;
  color: #9a8865;
  font-family: bender, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
}
.contenido {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 13%;
}

footer {
  margin-left: 6%;
}

.foto_item img {
  height: 100px;
  width: 100px;
}

form {
    line-height: 2;
    font-size: 1.2em;
}

input {
    width: 4%;
}
